@import "function";

// RESETS
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

button {
  cursor: pointer;
  border: none;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

// /* ####### */
* {
  // border: 1px solid blue;
}
/*##### for-phone-only ##########*/
@media (max-width: 599px) {
}

/*############ for-tablet-portrait-up ##############*/
@media (min-width: 600px) {
  body {
    padding-top: 50px;
  }

  main {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    position: relative;

    .text {
      z-index: 99;
      width: 635px;
      padding-top: 64px;
      position: absolute;
      left: 125px;
      .main-p {
        font-weight: 300;
        font-size: 32px;
        line-height: 44px;
        color: #202047;
        margin-bottom: 32px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: -64px;
          left: 95px;
          width: 120px;
          height: 100px;
          background-image: url(./images/pattern-quotes.svg);
          background-repeat: no-repeat;
        }
      }

      .flex {
        display: flex;

        h1 {
          font-weight: 700;
          font-size: 20px;
          line-height: 38px;
          color: #202047;
          margin-right: 10px;
        }

        p {
          font-weight: 500;
          font-size: 20px;
          line-height: 38px;
          color: #b9b9ce;
          margin-bottom: 0;
        }
      }
    }

    .slide {
      background-image: url(./images/pattern-bg.svg);
      background-size: contain;
      background-repeat: no-repeat;
      height: 657px;
      width: 697px;
      padding: 63px 92px 54px 65px;
      position: relative;

      .image {
        width: 100%;
        background: #ebebeb;
        box-shadow: 0px 40px 50px -30px rgba(36, 36, 113, 0.495001);
        border-radius: 5px;
      }

      .next-and-previous-btns-container {
        position: absolute;
        bottom: 25px;
        left: 127px;
        width: 112px;
        height: 56px;
        background: #ffffff;
        box-shadow: 0px 15px 20px -10px rgba(36, 36, 113, 0.0991313);
        border-radius: 28px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        a {
          color: #8585ac;
          font-size: 18px;
          cursor: pointer;
        }
      }
    }
  }

  footer {
    margin-top: -54px;

    img {
      width: 610px;
      height: 150.94px;
    }
  }
}

/*############ for-tablet-landscape-up #############*/
@media (min-width: 900px) {
}

/*############ for-desktop-up ###########*/
@media (min-width: 1200px) {
}

/*############ for-big-desktop-up ##########*/
@media (min-width: 1800px) {
}
